* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cardcenter {
    height: 80vh;
    background: #3b77d1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.universCard {
    width: 60rem;
    text-align: center;
    margin-top: .8rem;
}

.cardcenter img {
    width: 40rem;
    height: 25rem;
    border-radius: .8rem;
    margin: 1rem;
}

.cardcenter p {
    color: #f1f1f1;
}


.site-footer {
    background: #132a4d;
    height: 14.1vh;
    display: grid;
    place-items: center;
    color: #f1f1f1;
}